<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch SNMP Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>HP ProCurve SNMP Monitor</h1>
    <div class="data">
        <h2>Port parameters</h2>
        <ul>
            <li>OID: {{ data.oid }}</li>
            <li>Significance: {{ data.value }}</li>
        </ul>
    </div>
</body>
</html>
